@page "/about"
@using BlazorApp.Pages;
@using BlazorApp.Shared;

<PageTitle>About</PageTitle>

<p>
    This is a side project for a course in C#.
</p>
<p>
    <em>
        (c) alienrobotkitten / Helena Karlfeldt
    </em>
</p>