@page "/view/{greetingId}"

<PageTitle>Read greeting</PageTitle>

@if (greeting == null)
{
    <i> Loading...</i>
}
else
{
    <button @onclick="inbox" class="btn btn-primary">Go to inbox</button>
    <table style="margin-top: 20px; margin-bottom: 20px">
        <tbody>
            <tr>
                <td>
                    From:
                </td>
                <td>
                    @greeting.From
                </td>
            </tr>
            <tr>
                <td>
                    To:
                </td>
                <td>
                    @greeting.To
                </td>
            </tr>
            <tr>
                <td>
                    Received:
                </td>
                <td>
                    @greeting.Timestamp
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=2>
                    @greeting.Message
                </td>

            </tr>
        </tbody>
    </table>
    @if (previousExists)
    {
        <span>
            <button @onclick="prev" class="btn btn-primary" style="float: left;">Previous</button>
            &nbsp;
        </span>
    }

    @if (nextExists)
    {
        <span>
            &nbsp;
            <button @onclick="next" class="btn btn-primary" style="float: right">Next</button>
        </span>
    }


}

@code {

    [Parameter]
    public EventCallback onPreviousButtonClicked { get; set; }
    [Parameter]
    public EventCallback onInboxButtonClicked { get; set; }
    [Parameter]
    public EventCallback onNextButtonClicked { get; set; }
    [Parameter]
    public Greeting? greeting { get; set; }
    [Parameter]
    public bool previousExists { get; set; }
    [Parameter]
    public bool nextExists { get; set; }

    protected override async Task OnInitializedAsync()
    {
        greeting = greeting;
    }

    private async void inbox()
    {
        await onInboxButtonClicked.InvokeAsync();
    }
    private async void prev()
    {
        await onPreviousButtonClicked.InvokeAsync();
    }
    private async void next()
    {
        await onNextButtonClicked.InvokeAsync();
    }
}