@inherits LayoutComponentBase
@implements IDisposable
@inject StateService stateService
@using BlazorApp.Entities;
@using BlazorApp.Pages;
@using BlazorApp.Shared;

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar" id="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            UseR:
            <select @bind="stateService.CurrentUser">
                @foreach (string user in UserList)
                {
                    <option value="@user">
                        @user
                    </option>
                }
            </select>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private List<string> UserList { get; set; } = new() { "kajsa@ankeborg.com", "kalle@ankeborg.com", "musse@ankeborg.com", "mimmi@ankeborg.com", "joakim@ankeborg.com" };

    protected override void OnInitialized()
    {
        stateService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        stateService.OnChange -= StateHasChanged;
    }
}