@using BlazorApp.Entities

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span style="float: start"><img src="/img/logo/favicon-32x32.png" width="32" /></span>
            <span style="float: end">Greet<span style="color: #825">R</span></span>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/create">
                <span class="oi oi-plus" aria-hidden="true">
                </span>
                Create greeting
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/inbox">
                <span class="oi oi-list-rich" aria-hidden="true">
                </span>
                Inbox
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/sentitems">
                <span class="oi oi-list-rich" aria-hidden="true">
                </span>
                Sent items
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
